.unClickedButton,
.clickedButton {
  color: #fff; 
  font-size: x-small;
}

.unClickedButton {
  transition: none;
  background-color: #1db954 !important;
  margin: 0 !important;
}

.clickedButton {
  transition: none;
  background-color: #181818 !important;
  margin: 0 !important;
  border-top-left-radius: 10% !important;
  border-top-right-radius: 10% !important;
}

.nav {
  display: flex;
  background-color: #1db954 !important;
  align-items: center;
  justify-content: left;
  padding-left: 10%;
  padding-top: 1%;
}

html,
body {
  margin: 0;
  padding: 0;
}
